<div class="container">
  <h1 class="title">Details page</h1>
  filtersForm
  <form [formGroup]="filterForm">
    <app-input
      [form]="filterForm"
      control="search"
      maxLength="20"
      placeholder="Search..."
    ></app-input>
    <app-radio-group
      [form]="filterForm"
      control="filter"
      [labels]="[filters.All,filters.Undone]"
      [values]="[filters.All.toLowerCase(),filters.Undone.toLowerCase()]"
    ></app-radio-group>
  </form>

  {{ filterForm.value | json}}

  <ul>
    <li *ngFor="let todo of listItem.todos" (click)="changeTodo(todo)">
      <span>{{ todo.name }}</span>
      <span>{{ todo.checked }}</span>
    </li>
  </ul>

  <form
    class="add-todo-form"
    role="form"
    [formGroup]="todoForm"
    (keydown.enter)="addTodo()"
  >
    <app-input
      [form]="todoForm"
      control="name"
      maxLength="20"
      placeholder="Add todo..."
    ></app-input>
  </form>
  <a [routerLink]="['/lists']">Back</a>
</div>
