<label class="form-block__label" *ngIf="label" [innerHTML]="label"></label>
<div
  class="form-group form-block"
  [formGroup]="form"
  [ngClass]="{error: submitted && !form.get(control).valid}"
>
  <input
    *ngIf="!currency"
    class="form-control"
    [type]="type"
    [attr.placeholder]="placeholder"
    [formControlName]="control"
    [attr.maxLength]="maxLength?maxLength:null"
    [attr.disabled]="disabled ? '':null"
  >
  <span
    *ngIf="submitted && !form.get(control).valid && !errorsHide"
    class="help-block"
  >
    <span
      *ngIf="form.get(control).hasError('required')">
      This field is required
    </span>
    <span
      *ngIf="!form.get(control).hasError('required') && form.get(control).hasError('email')">
      Please enter a valid email address
    </span>
    <span
      *ngIf="!form.get(control).hasError('required') && !form.get(control).hasError('email') && form.get(control).hasError('minlength')">
          {{'Should be at least @count@ characters long' | replace:"@count@":form.get(control).errors['minlength']['requiredLength']}}
    </span>
    <span
      *ngIf="!form.get(control).hasError('required') && !form.get(control).hasError('email') && !form.get(control).hasError('minlength') && form.get(control).hasError('maxlength')">
      {{'Should be less or equal @count@ symbols' | replace:"@count@":form.get(control).errors['maxlength']['requiredLength']}}
    </span>
    <span
      *ngIf="!form.get(control).hasError('required') && !form.get(control).hasError('email') && !form.get(control).hasError('minlength') && !form.get(control).hasError('maxlength') && form.get(control).hasError('noSpace')">
      The string must not contain spaces
    </span>
    <span
      *ngIf="!form.get(control).hasError('required') && !form.get(control).hasError('minlength') && !form.get(control).hasError('maxlength') && !form.get(control).hasError('noSpace') && form.get(control).hasError('passwordMismatch')">
      The passwords do not match
    </span>
    <span
      *ngIf="!form.get(control).hasError('required') && !form.get(control).hasError('minlength') && !form.get(control).hasError('maxlength') && !form.get(control).hasError('noSpace') && !form.get(control).hasError('passwordMismatch') && form.get(control).hasError('password')">
      The password must contain characters a-z, A-Z, 0-9 and at least one of !, #, $, %, &, -, _,
    </span>
    <span
      *ngIf="!form.get(control).hasError('required') && !form.get(control).hasError('minlength') && !form.get(control).hasError('maxlength') && !form.get(control).hasError('noSpace') && !form.get(control).hasError('passwordMismatch') && !form.get(control).hasError('password') && form.get(control).hasError('vat')">
      This field should contain SE and block of 12 digits
    </span>
    <span
      *ngIf="!form.get(control).hasError('required') && !form.get(control).hasError('minlength') && !form.get(control).hasError('maxlength') && !form.get(control).hasError('noSpace') && !form.get(control).hasError('passwordMismatch') && !form.get(control).hasError('password') && !form.get(control).hasError('vat') && form.get(control).hasError('companyNumber')">
      This field should contain the string of digits in format xxxxxx-xxxx
    </span>
    <span
      *ngIf="!form.get(control).hasError('required') && !form.get(control).hasError('minlength') && !form.get(control).hasError('maxlength') && !form.get(control).hasError('noSpace') && !form.get(control).hasError('passwordMismatch') && !form.get(control).hasError('password') && !form.get(control).hasError('vat') && !form.get(control).hasError('companyNumber') && form.get(control).hasError('positive')">
      This field should be positive
    </span>
  </span>
</div>
