<div class="container lists">
  <div class="inner-container">
    <h1 class="title"><span class="ttu">Todo</span> Lists</h1>

    <ul class="list">
      <li class="list-item" [ngClass]="{'showed':!list.length}">
        <span>No items added</span>
      </li>
      <li class="list-item" [ngClass]="{'showed':list.length}" *ngFor="let item of list">
        <a class="list-item__link" [routerLink]="['/lists', item.id]"
           [queryParams]="{filter:'all'}">
          {{ item.name }} ({{ item.getCountCheckedTodos() }}/{{item.todos.length}})
        </a>
      </li>
    </ul>
    <form
      class="form form__stick-bottom"
      role="form"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      [ngClass]="{submited:submitted}"
    >
      <app-input
        [form]="form"
        [submitted]="submitted"
        control="name"
        maxLength="20"
        placeholder="New list"
      ></app-input>
      <app-button>Create</app-button>
    </form>
  </div>
</div>
